news_scrapers/annapurna/*.csv
news_scrapers/dcnepal/*.csv
news_scrapers/ekagaj/*.csv
news_scrapers/ekantipur/*.csv
news_scrapers/gorkhapatra/*.csv
news_scrapers/imagekhabar/*.csv
news_scrapers/nagarik/*.csv
news_scrapers/nepalikhabar/*.csv
news_scrapers/onlinekhabar/*.csv
news_scrapers/ratopati/*.csv
news_scrapers/setopati/*.csv
news_scrapers/techpana/*.csv
news_scrapers/ujyaaloonline/*.csv
news_clean/*.csv